

.info {
    background-color: white;
    max-width: 1400px;
    min-height: 600px;
    margin: auto;
    display: flex;
    gap: 50px;
}

form {
    width: 50%;
    height: 600px;
    padding: 60px 120px;
}

form > h1, form > h3 {
    margin-bottom: 20px;
    text-shadow: 0 0 1.2px;
}

.double {
    display: flex;
    gap: 30px;
}

.double .field {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.field {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 30px;

}

input,
textarea {
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1.5px solid;

}

textarea {
    resize: none;
    min-height: 70px;
}

form button {
    display: block;
    margin-left: auto;
    margin-top: 15px;
    width: 110px;
    height: 40px;
    background-color: transparent;
    border: 2px solid black;
    transition: 0.4s;
    cursor: pointer;
}


form button:hover {
    background-color: #DD2804;
    color: white;
}

.right {
    width: 50%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 1.2px;
    
}

.right .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 80%;
    
}

.part {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.inner .icons {
    display: flex;
    gap: 10px;
    font-size: 19px;
}


footer > h1 {
    text-align: center;
    background-color: #DD2804;
    font-size: 15px;
    padding: 20px 0;
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
    text-shadow: 0 0 2px white;
    box-shadow: 0 -3px 10px 3px #DD2804;
}