<footer>
    <div class="info">
        <form>
            <h1>CONTACT US</h1>
            <h3>DROP US A LINE AND WE'LL GET BACK TO YOU</h3>
            <div class="double">
                <div class="field">
                    <label for="">First name *</label>
                    <input type="text">
                </div>
                <div class="field">
                    <label for="">Last name *</label>
                    <input type="text">
                </div>
            </div>
            <div class="double">
                <div class="field">
                    <label for="">Email *</label>
                    <input type="text">
                </div>
                <div class="field">
                    <label for="">Subject</label>
                    <input type="text">
                </div>
            </div>
            <div class="field">
                <label for="">Leave us a message</label>
                <textarea></textarea>

            </div>
            <button>Submit</button>
        </form>
        <div class="right">
            <div class="inner">
            <h1>WE`RE OPEN</h1>
            <div class="part">
                <p>Monday-Friday : 11am-10pm</p>
                <p>Saturday-Sunday: 11am-12am</p>
            </div>

            <p>Tbilisi, Georgia</p>

            <div class="part">
                <p>Tel: 123-456-7890</p>
                <p>Email: adamashvili.irakli8&#64;gmail.com</p>
            </div>
            <div class="icons">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
        </div>
        </div>
    </div>
    <h1>© 2026 by Adamashvili | ASIAN TASTE</h1>
</footer>