
nav {
  display: flex;
  justify-content: space-between;
  height: 65px;
  align-items: center;
  padding-left: 60px;
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  box-shadow: 0 5px 3px white;
}

nav h4 {
  color: #DD2804;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-shadow: 0 0 1px #DD2804;
}

nav h4 i {
  color: black;
  position: absolute;
  font-size: 13px;
  top: -3px;
}

.lists {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;

}


.lists ul {
  display: flex;
  list-style: none;
  gap: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

ul li {
  cursor: pointer;
  transition: 0.3s;
}

ul li:hover, .active {
  color: #DD2804;
  text-shadow: 0 0 1px #DD2804;
}

ul li:nth-child(5),
ul li:nth-child(6) {
  color: #DD2804;
}


.lists button {
  transform: rotate(90deg) translate(40px, -45px);
  background-color: #DD2804;
  width: 150px;
  height: 60px;
  margin-left: -70px;
  border: none;
  color: white;
  transition: 0.5s;
  border: .6px solid #DD2804;
  cursor: pointer;
}

.lists button:hover {
  background-color: white;
  color: #DD2804;
}


.mobileBar {
  display: flex;
  list-style: none;
  padding-right: 40px;
  gap: 20px;
  font-size: 20px;
  color: #DD2804;
  cursor: pointer;
  display: none;
}


@media (max-width:700px) {
  .lists {
    display: none ;
  }

  .mobileBar {
    display: flex;
  }
}