<div class="cartArea">
  
  <div class="cartList">
    <h3><i (click)="hideCart()" class="fa-solid fa-angle-right"></i>  Cart</h3>
  @for (item of cartList(); track $index) {
  <div class="list">
    <div class="card">
      <div class="image">
        <img
        [src]="item.product.image"
          alt=""
        />
      </div>
      <div class="middle">
        <h5> {{item.product.name}} </h5>
        <h6><i class="fa-solid fa-star"></i> 5</h6>
        <h5> {{item.product.price | currency }} </h5>
      </div>
      <div class="right">
        <button (click)="updateItem(item, '+')">+</button>
        <h5> {{item.quantity}} </h5>
        <button [disabled]="item.quantity <= 1" (click)="updateItem(item, '-')">-</button>
      </div>
    </div>
    <i (click)="deleteItem(item.product.id, item.product.name)" class="fa-solid fa-trash"></i>
  </div>
  }
  @empty {
    <div class="emptyCart">
      <img src="../../assets/emptycart.png" alt="">
      <h3>Hungry!</h3>
      <p>Your don`t have any foods in cart at this time</p>
      <button routerLink="/menu">Go to Menu</button>
    </div>
  }
  </div>
  @if (cartList().length > 0) {
  <div class="total">
    <div class="field">
      <p>Subtotal:</p>
      <p>{{totalPrice() | currency}}</p>
    </div>
    <div class="field">
      <p>service fee:</p>
      <p>$5.00</p>
    </div>
    <div class="line"></div>
    <div class="field">
      <h2>Total:</h2>
      <h2>{{totalPrice() + 5| currency}}</h2>
    </div>
    <button>Checkout</button>
  </div>
}
 
</div>
