
.cartArea {
  position: fixed;
  height: 100vh;
  width: 350px;
  background-color: white;
  top: 0;
  right: 0;
  z-index: 9999999;
  padding: 15px;
  overflow: hidden;
  box-shadow: inset 10px 0 10px #f3f2f2, -2px 0 15px 20px white;
}

.cartList {
  height: calc(100vh - 220px);
  overflow: scroll;
  scrollbar-width: none;
}

.cartList > h3 {
  text-align: center;
  font-weight: 400;
  margin-bottom: 20px;
  position: relative;
}

h3 i {
  position: absolute;
  left: 0;
  cursor: pointer;
  width: 25px;
  height: 25px;
  transition: 0.5s;
  font-size: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.6px solid transparent;
}

h3 i:hover {
  background-color: #3e0f08;
  color: white;
  border: 0.6px solid black;
  
}

.list {
  display: flex;
  align-items: center;
  width: 370px;
  justify-content: space-between;
  transition: 0.5s;
}

.list > i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0.8px solid rgb(31, 31, 31);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3e0f08;
  transition: 0.4s;
  cursor: pointer;
}

.list > i:hover {
  background-color: #3e0f08;
  color: white;
}

.list:hover {
  transform: translate(-50px);
}

.card {
  width: 325px;
  height: 110px;
  display: grid;
  grid-template-columns: 2.5fr 4fr 1fr;
  background-color: #fff1f4;
  margin-top: 7px;
  border-radius: 15px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}

.card .image {
  height: 100%;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fedad0;
  border-radius: 10px;
}

.image img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  color: #3e0f08;
  padding-left: 15px;
  text-shadow: 0 0 0.5px black;
}

.middle i {
  color: #da7658;
  font-size: 14px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}

.right button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.right button:first-child {
  background-color: #d16f52;
  color: white;
}
.right button:last-child {
  background-color: transparent;
  color: black;
  border: 0.9px solid black;
}


.total {
  height: 200px;
  background-color: #FFF1F4;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 20px 20px 0 0 ;
  box-shadow: 0 -5px 3px #ebdade;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.total .field {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  text-shadow: 0 0 0.5px black;
}

.total .line {
  height: 2px;
  border-bottom: 1px dashed black;
}

.total button, .emptyCart button {
  width: 100%;
  height: 45px;
  background-color: #d16f52;
  border: none;
  border-radius: 17px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
}
.total button:hover, .emptyCart button:hover {
  background-color: #3e0f08;
}

.emptyCart {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  font-size: 14px;
}

.emptyCart img  {
  width: 200px;
}