/* .details {
    padding-top: 80px;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.left {
    position: relative;
}

.left button {
    position: fixed;
    top: 100px;
    left: 50px;
    padding: 8px 12px;
    background-color: #63391f;
    color: white;
    font-family: "Italiana", sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    font-style: normal;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.left button:hover {
    background-color: #b16d43;
    box-shadow: 0 0 10px 1px #b16d43;
}



.info {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;
    
}

.info h1 {
    font-family: "Fondamento", cursive;
  font-weight: bold;
  font-style: normal;
  font-size: 30px;
}

.info p, input {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
}

.info p::first-letter {
    font-size: 43px;
}
.specList {
    display: flex;
    gap: 30px;
}

.addcart {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.addcart .field {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.field input {
    width: 40px;
    height: 30px;
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

.addcart button {
    padding: 4px 12px;
    background-color: #63391f;
    color: white;
    font-family: "Italiana", sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    font-style: normal;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .addcart button:hover {
      background-color: #b16d43;
      box-shadow: 0 0 10px 1px #b16d43;
  }

  @media screen and (max-width: 1100px) {
    
    
  } */


  section {
    width: 70vw;
    min-height: 600px;
    background-color: white;
    border: 1px solid #DD2804;
    display: flex;
    padding: 20px;
    position: relative;
    
  }

  section > button {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    border: none;
    height: 30px;
    background-color: #DD2804;
    color: white;
    cursor: pointer;
  }

  section > button:hover {
    background-color: red;
  }


  .left {
    width: 60%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }

  .left h1 {
    text-shadow: 0 0 1.3px;
  }

  .left h5 {
    color: #DD2804;
    text-shadow: 0 0 1.3px;
    letter-spacing: 0.6px;
  }

  .left p {
    text-shadow: 0 0 1px;
  }

  .left p::first-letter {
    color: #DD2804;
    font-size: 22px;
  }


  .left img {
    width: 100%;
    height: 400px;
    object-fit: contain;
  }
  .right {
    width: 40%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    gap: 15px;
    text-shadow: 0 0 1.3px;
  }

  .right h3:nth-child(3) {
    color: #DD2804;
    
  }

  .right input {
    height: 40px;
    outline: none;
    border: 0.5px solid black;
    padding: 10px;
    text-shadow: 0 0 1px #DD2804;
    cursor: pointer;
  }

  .right button {
 
  height: 50px;
  background-color: #DD2804;
  border: none;
  color: white;
  cursor: pointer;
  border: 0.8px solid #DD2804;
  transition: 0.4s;
}

.right button:hover {
  background-color: white;
  color: #DD2804;
}