.filterCard {
  
  font-size: 14px;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: space-between;
  
  gap: 15px;
  padding: 20px;
}
.inputSpics {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 130px;
}

.inputField {
  display: flex;
  gap: 10px;
  align-items: center;
}
.btns {
  display: flex;
}

.filterCard button {
  width: 120px;
  height: 40px;
  background-color: transparent;
  border: 0.5px solid black;
  cursor: pointer;
}

.filterCard button:nth-child(2) {
  background-color: #DD2804;
  color: white;
  border-right: none;
}
.filterCard button:nth-child(3) {
  background-color: black;
  color: white;
  width: 30px;
  box-shadow: 1px 0 5px 4px #DD2804 inset;
  border-left: none;
  transition: 0.4s;
}

.filterCard button:nth-child(3):hover {
  box-shadow: none;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100px;
}


input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #DD2804;
  border-radius: 0.5rem;
  height: 2px;
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  margin-top: -6.25px; 
  background-color: #808080;
  border-radius: 0.5rem;
  height: 14.5px;
  width: 4.5px;
}


input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #DD2804;
  border-color: #DD2804;
}