
<div class="banner">
  <h1>ORDER ONLINE</h1>
  <h4><span></span> Accepting Orders</h4>
  <div class="btns">
    <button>Pickup</button>
    <button>Delivery</button>
  </div>
  <div class="infos">
    <p> <i class="fa-solid fa-clock"></i> Pickup time: Up to 30 minutes</p>
    <p> <i class="fa-solid fa-location-dot"></i> Pickup Address: Somewhere in Tbilisi</p>
  </div>

</div>

<div class="filter">

  <ul class="categories">
    <li [ngClass]="this.activeCategory == 0 ? 'current' : ''" (click)="showAllProducts()">ALL</li>
    @for (items of categories; track items) {
    <li [ngClass]="this.activeCategory == items.id ? 'current' : ''" (click)="showProductsByCategory(items.id)">{{
      items.name | uppercase}}</li>
    }
  </ul>
  <div class="adtFilter">
    @if (isFilterShown) {
    <app-filter (filterTransfer)="getFilteredData($event)" (closeTransfer)="isFilterShown = $event"></app-filter>
    }
    @else {
    <p (click)="isFilterShown = true"> &larr; ADDITIONAL FILTER</p>
    }
  </div>
</div>


<main>
  <h1>MENU</h1>
  <h1> {{activeCategory == 0 ? 'ALL' : currentCategory | uppercase}} </h1>

  <section>

    @for (item of foodList; track $index) {
    <div class="card" (click)="getDetails(item)">
      <div class="up">
        <h3> {{item.name}} </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque repellat voluptates omnis facilis. Quis
          deleniti
          fuga cumque.</p>
      </div>
      <div class="bottom">
        <div class="spec">
          <p>nuts <i class="fa-solid fa-{{item.nuts ? 'check' : 'x' }}"></i> </p>
          <p>vegeterian <i class="fa-solid fa-{{item.vegeterian ? 'check' : 'x' }}"></i> </p>
        </div>
        <div class="priceSp">
          <p> {{item.price | currency }} </p>
          <p>spiciness <span>{{item.spiciness == 0 ? 'no' : item.spiciness == 1 ? 'low' : item.spiciness == 2 ? 'medium'
              : item.spiciness == 3 ? 'high' : 'very high' }} </span> </p>
        </div>
      </div>

    </div>
    }
    @empty {
      <h1 class="nothing">NOTHING FOUND...</h1>
    }
  </section>
</main>

@if (isDetailsPopuped) {
<div class="details" (click)="closeArea($event)">
  <app-food-details [foodDetails]="currentItem" (closeEmit)="isDetailsPopuped = $event"></app-food-details>
</div>

}