.banner {
  margin-top: 60px;
  height: 350px;
  background-color: #FBE690;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
  cursor: default;
}

.banner h1 {
  font-size: 90px;
  color: #DD2804;
}

.banner h4 {
  background-color: white;
  width: fit-content;
  padding: 5px 20px;
  border-radius: 20px;
  font-weight: 300;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.banner h4 span {
  background-color: green;
  width: 5px;
  height: 5px;
  display: inline-block;
  border-radius: 50%;
}

.banner .btns {
  display: flex;
}

.btns button {
  width: 150px;
  height: 40px;
  background-color: transparent;
  border: 0.5px solid black;
  font-weight: 300;
}

.btns button:nth-child(1) {
  background-color: #DD2804;
  color: white;

}


.banner .infos {
  display: flex;
  gap: 20px;
  font-size: 12px;
  font-weight: 300;
}

.infos p {
  display: flex;
  gap: 12px;
  align-items: center;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin-top: 30px;
}

.filter p {
  font-weight: 300;
  font-size: 14px;
  border-bottom: 2px solid #F4B9AB;
  cursor: pointer;
}


.categories {
  display: flex;
  list-style: none;

  margin-left: 30px;

  gap: 15px;
  font-weight: 300;
  font-size: 14px;
  border-bottom: 2px solid #F4B9AB;
  width: fit-content;
}

.categories li {
  cursor: pointer;
  padding-bottom: 10px;
  position: relative;
}

.categories li::after,
.categories .current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #DD2804;
}

.categories li:hover,
.current, .filter p:hover {
  color: #DD2804;
  text-shadow: 0 0 1px #DD2804;
}

.current::after {
  width: 100% !important;
}

.categories li:hover::after {
  width: 100%;
}

.adtFilter {
  position: relative;
}

main {
  max-width: 1500px;
  margin: auto;
  padding: 20px;
}

main>h1 {
  margin: 20px 0;
  text-shadow: 0 0 1.1px;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-auto-rows: 200px;
  gap: 20px;

}


section .card {
  border: 2px solid #DD2804;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-shadow: 0 0 1.05px;
  cursor: pointer;
  transition: 0.3s;
}

section .card:hover {
  transform: scale(1.01);
}

.up p {
  font-weight: 200;
  font-size: 14px;
}

.card .spec {
  display: flex;
  gap: 30px;
  align-items: center;
  font-weight: 200;
}

.card .bottom,
.card .up {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card .priceSp {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}

.spec i {
  font-size: 10px;
}


.card span {
  font-size: 13px;
  font-weight: 400;
}