/* article h1 {
 
  margin: 20px 0;
  font-family: "Playwrite US Modern", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

article h1 i {
  cursor: pointer;
  display: none;
}

article ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid #63391f;
  transition: 0.5s;
}

ul li {
  padding: 10px;
  cursor: pointer;
  font-family: "Playwrite US Modern", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  transition: 0.3s;
}

ul li:hover {
  background-color: #63391f;
  color: white;
  border-radius: 6px;
}

.active {
  background-color: #63391f;
  color: white;
  border-radius: 6px;
}

.mainArea {
  margin: 20px auto;
  display: flex;
  gap: 30px;
  padding-inline: 40px;
}

.right {
  width: 100%;
}

.cardList {
  width: 100%;
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  width: 250px;
  height: 370px;
  box-shadow: 0 0 10px 1px rgb(102, 99, 99);
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Fresca", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card .imgArea {
  background-color: grey;
  position: relative;
}

.card .imgArea p {
    position: absolute;
    bottom: 0;
    background-color: red;
    padding: 4px 8px;
    border-top-right-radius: 10px;
    color: white;
}

.card .imgArea span {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #63391F;
    color: white;
    padding: 5px 10px;
    border-bottom-left-radius: 15px;
    box-shadow: -1px 1px 4px 1px black;
    
}

.card img {
  display: block;
  width: 80%;
  height: 200px;
  object-fit: cover;
  margin: 0 auto;
}
.card .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
    
}

.card h2 {
  text-align: center;
}

.card .specList {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card .btns {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.card .btns button {
    padding: 10px 10px;
    cursor: pointer;
    background-color: #63391f;
    color: white;
    border: none;
    border-radius: 7px;
    transition: 0.3s;
    font-family: "Fresca", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card .btns button:hover {
    background-color: #b16d43;
    box-shadow: 0 0 10px 1px #b16d43;
}

.notfoundList {
  
 
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 400px;
  height: 300px;
  box-shadow: 0 0 20px 3px grey;
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
  
}

.mainModal {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 60px 20px;
  font-family: "Fresca", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
}

.mainModal i{
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: grey;
  padding: 7px 13px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 0px 14px 1px black;
  cursor: pointer;
  transition: 0.4s;
}

.mainModal i:hover {
  background-color: red;
  color: white;
  box-shadow: 0px 0px 14px 1px red;
}

.mainModal input {
  width: 60px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  font-family: "Fresca", sans-serif;
  font-weight: bold;
  font-style: normal;
}

.mainModal button {
  padding: 12px 20px;
  background-color: #63391f;
  color: white;
  font-family: "Italiana", sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  font-style: normal;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;

}


.mainModal button:hover {
  background-color: #b16d43;
  box-shadow: 0 0 10px 1px #b16d43;
}

.mininavHide{
  opacity: 0;
  visibility: hidden;
  
}


@media screen and (max-width: 1250px) {
  ul li {
    font-size: 10px;
  }
  
}

@media screen and (max-width: 998px) {
  article h1 i {
    display: block;
  }

  article ul {
    display: none;
  }
}

@media screen and (max-width: 768px) {
 .mainArea {
  flex-direction: column;
  align-items: center;
 }
  
}

@media screen and (max-width: 500px) {
  .popup {
    width: 80vw;
  } 
   
 } */



.banner {
  margin-top: 60px;
  height: 350px;
  background-color: #FBE690;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
  cursor: default;
}

.banner h1 {
  font-size: 90px;
  color: #DD2804;
}

.banner h4 {
  background-color: white;
  width: fit-content;
  padding: 5px 20px;
  border-radius: 20px;
  font-weight: 300;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.banner h4 span {
  background-color: green;
  width: 5px;
  height: 5px;
  display: inline-block;
  border-radius: 50%;
}

.banner .btns {
  display: flex;
}

.btns button {
  width: 150px;
  height: 40px;
  background-color: transparent;
  border: 0.5px solid black;
  font-weight: 300;
}

.btns button:nth-child(1) {
  background-color: #DD2804;
  color: white;
  
}


.banner .infos {
  display: flex;
  gap: 20px;
  font-size: 12px;
  font-weight: 300;
}

.infos p {
  display: flex;
  gap: 12px;
  align-items: center;
}


.categories {
  display: flex;
  list-style: none;
  margin-top: 30px;
  margin-left: 30px;
  padding: 0 20px;
  gap: 15px;
  font-weight: 300;
  font-size: 14px;
  border-bottom: 2px solid #F4B9AB;
  width: fit-content;
}

.categories li {
  cursor: pointer;
  padding-bottom: 10px;
  position: relative;
}

.categories li::after, .categories .current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #DD2804;
}
.categories li:hover, .current {
  color: #DD2804;
  text-shadow: 0 0 1px #DD2804;
}

.current::after {
  width: 100% !important;
}

.categories li:hover::after {
  width: 100%;
}


