.allTimeFav {
    background-color: white;
    padding: 40px 30px;
    margin-bottom: 60px;
}

.allTimeFav>h1 {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 35px;
    align-items: center;
    text-shadow: 0 0 1.3px;
}

h1 i, h2 i {
    font-size: 1.3cap;
    color: #f1d669;
}


.favContainer {
    display: flex;
    justify-content: space-evenly;
}


.favContainer .card {
    width: 450px;
    height: 450px;

}

.card .inner {
    background-color: black;
    height: 400px;

}

.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card h3 {
    text-align: center;
    margin-top: 15px;
    text-shadow: 0 0 1.1px;
}


.allTimeFav button {
  width: 170px;
  height: 50px;
  background-color: #DD2804;
  border: none;
  color: white;
  cursor: pointer;
  border: 0.8px solid #DD2804;
  transition: 0.4s;
  display: block;
  margin: 30px auto;
}

.allTimeFav button:hover {
  background-color: white;
  color: #DD2804;
}


.special {
    display: flex;
    min-height: 450px;
    gap: 50px;
    cursor: default;
}

.special .left {
    width: 50%;
    height: 450px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 100px;
    text-align: center;
    gap: 30px;
    font-size: 18px;
    text-shadow: 0 0 1.1px;
}

.left h2 {
    display: flex;
    align-items: center;
    gap: 30px;
    
}
.special .right {
    width: 50%;
    height: 450px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(128, 124, 124);
}