<section class="head">
    <div class="banner">
        <h3>OPEN FOR DELIVERY & PICK UP</h3>
        <h1>GET IT WHILE IT'S HOT</h1>
        <button>Order Online</button>
    </div>
</section>

<main>
    <div class="sampleCards">
        <div class="card">
            <img src="../../assets/1.png" alt="">
            <h3>ORDER ON THE GO</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga veniam ea et dolorem.</p>
        </div>
        <div class="card">
            <img src="../../assets/2.png" alt="">
            <h3>DOORSTEP DELIVERY</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga veniam ea et dolorem.</p>
        </div>
        <div class="card">
            <img src="../../assets/3.png" alt="">
            <h3>CURBSIDE PICKUP</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga veniam ea et dolorem.</p>
        </div>
    </div>
    <h1>ORIGINAL RECIPE <br> SINCE 2026</h1>
</main>

<app-products></app-products>